/*begin classes vakje*/
.vakje {
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 0;
    transition: transform .25s; /*transition zal gebeuren wanneer de transform property (zie .achterkant) gewijzigd wordt*/
    /*display:inline-block*/ /*kon hier ook in plaats van d-flex flex-wrap op de parent div*/
}

.achterkant {
    cursor: pointer;  /* cursor = pointer voor vakjes die je nog kan omdraaien */
    background: url("../images/questionMark.png") no-repeat;
    background-size: cover; /* = 100% 100%*/
    transform: scale(-1, 1) rotateY(180deg); /*zorgt ervoor dat vakje een draai-effect krijgt wanneer je erop klikt, want dan zal deze klasse namelijk verwijderd worden van het vakje*/
}
/*einde classes vakje*/

/*begin classes alert*/
.alert-hide{
    opacity: 0;
    transition: opacity 1s;
}

.alert-show{
    opacity:1;
    transition: opacity 1s;
}
/*einde classes alert*/
